language: java

# before_script:
jdk:
  - openjdk8
script:
  - mvn clean verify
deploy:
  provider: heroku
  api_key:
    secure: OlaIqBGpiM2n02aq+IE58pegoepvBPBqxt+34YZJ4PnhAA8yZRUAB8H3TpxBF/vgwNVy1KSEkPgVJgE+1MOrth0C3RTQ0ntIudanxOO0Qx11/CniMietV5t2UyU0wfwUunUGmpi37A9a/gogkqwWs2vxB7dZhnMqAIrLEzMUd558ap0lLe4yvsqUFVJkjFuyxGklvArSwUlAJS0GCesZQt40GEzaZlRXvbHejWC/1Wwdy7CA3YscYG/oCJAf4qvVapu5bBtQ3MAZlG4ZmheIjNAPejnqm8w7SbHaJKbvZVHYmSZhH1wF1ojeyo8dbi53nnbSbxpscWw3L9SshxX+Ji4O6TSEpC56f1clKmYcMFu3GTU5iYozrG4qym5glpdPgcbBfErovq/QMPZ+T1IuOrc6xU/tpLKd/07ef999ax75K9o81rUWzoo/cjYr8ljJP8A+E8FHG1Q1dDJ7fw3p3DU+BA6S531YhtTbxl7FQwYWZYdpyoI9cVMtSn0ArABOCTtbgYnJFc9FRkANwzdNJTWzpFWRAftWb7uBlE8x7rXgNKrOQi+GkQWZtXaXu5XLiZVP4gxfxNk+EUjShWHUh08w0qOQCWk1nDFs+pVoT/XobSdgwsYL6eYQzdkbLKkpqggXn5z0gFRCakGnvU+VgXEz9ybBofFdm+MwS8aNImQ=
      app: project-travis-ci-group-4
  on:
    repo: Indecis1/Project_CI_CD_Inge4_ISI
    branch: main